<div class="content">
    <div class="row">
        <form class="col-md-4">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" #nombre>
            </div>
            <div class="form-group">
                <label for="imageUrl">Password</label>
                <input type="text" class="form-control" id="imageUrl" #imageUrl>
            </div>
            <button type="button" class="btn btn-primary" (click)="guardar(nombre.value,imageUrl.value)">Guardar</button>
        </form>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <app-whitelist *ngFor="let vehiculo of vehiculos" [vehiculo]="vehiculo"></app-whitelist>
    </div>
    
</div>

