<div class="card" style="width: 18rem;">
    <img src="./../../../assets/images/4runner.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{vehiculo.nombre}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>